<footer>
    <div 
    *ngIf="glopalService?.footer?.sections?.length"
    class="upper py-5">
        <div class="container">
            <div class="row">
                <div 
                *ngFor="let item of glopalService.footer.sections"
                class="col-md-4 mb-4 mb-md-0">
                    <div class="text-center">
                            <img 
                            *ngIf="item?.image?.image"
                            [src]="item?.image?.image" alt="footer" class="mb-3">
                            <h2 *ngIf="item?.header || item?.header_ar">
                                 {{item.header | lang :  item.header_ar  }}</h2>
                            <p 
                            [ngClass]="{'mb-2': item?.content_2,'mb-0':!item?.content_2}"
                            *ngIf="item?.content ||item?.content_ar">
                            {{item.content | lang : item.content_ar}}</p>
                            <p *ngIf="item?.content_2 || item?.content_2_ar" class="p2 mb-0">
                                {{item.content_2 | lang : item.content_2_ar  }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end upper -->
    <div class="lower pt-5 pb-2">
        <div class="container">
            <div class="row">
                <div 
                class="col-md-4 mb-4 mb-md-0">
                    <div>
                        <img [src]="glopalService.logo" alt="DataLex4ai" class="d-block mb-3" >   
                        <p class="p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus vitae, nullam lobortis enim.</p> 
                       <app-social-meedia color="white" />
                    </div>
                </div>
                <!--  -->
                <div 
                *ngIf="glopalService.footer?.navbars?.length"
                class="col-md-4 mb-4 mb-md-0">
                    <div>
                        <h2>{{
                            glopalService.footer.navbars[0].header | lang  : 
                            glopalService.footer.navbars[0].header_ar 
                            }}
                            </h2>
                        <ul
                        *ngIf="glopalService.footer.navbars[0].navbar_items_container?.length"
                        class="links">
                            <li
                            *ngFor="let link of glopalService.footer.navbars[0].navbar_items_container[0].navbar_items"
                            ><a href="">
                                {{link.header | lang : link.header_ar  }}
                            </a></li>
                        </ul>
                    </div>
                </div>
                <!--  -->
                <div 
                class="col-md-4 mb-4 mb-md-0">
                    <div>
                        <h2>news letter</h2>  
                        <p class="p2">Subscribe our newsletter to get our latest
                            update & news</p> 
                        <!-- <form>
                            <input type="text" placeholder="Your email address">
                            <img src="assets/images/send-plane-2-fill.png" alt="send">
                        </form> -->
                    </div>
                </div>
                <!--  -->
            </div>
            <!--  -->
            <ng-container 
            *ngIf="glopalService.footer?.copyright"
            >
            <hr class="bg-white">
            <p class="text-center m-0">
                <i class="fa-regular fa-copyright"></i>
                {{glopalService.footer.copyright | lang :  glopalService.footer.copyright_ar}}
            </p>
        </ng-container>
        </div>
    </div>
    <!-- end lower -->
</footer>