<nav 
(click)="closeSubMenu($event)"
class="section-bg  py-3 py-lg-2 fixed-top">
    <div 
    *ngIf="glopalService?.navbar?.length"
    class="container">
        <div 
        [ngClass]="{
            'align-items-start': openNav,
            'align-items-center': !openNav,
             }"
        class="d-flex justify-content-between d-lg-block">
            <div class="flex-column flex-lg-row d-flex justify-content-lg-between align-items-lg-center">
                <div class="logo">
                    <a 
                    (click)="openNav=false;selcetedSubMenu=-1"
                    routerLink="/">
                        <img [src]="glopalService.logo" alt="DataLex4ai">
                    </a>
                </div>
                <!--  -->
                <ul 
                
                [class.d-none]="!openNav"
                class="main   flex-lg-row d-lg-flex">
                    <li     
                    
                    *ngFor="let link of glopalService.navbar;let i = index">
                        <a 
                        (click)="openNav=false;selcetedSubMenu=-1"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}"
                        *ngIf="!link.navbar_items?.length"
                        [routerLink]="link?.link" 
                    >
                   
                        {{link.header | lang :  link.header_ar }}
                        </a>
                        <!--  -->
                        <a 
                        class="withlinks"
                        (click)="selcetedSubMenu = selcetedSubMenu == i ? -1 : i"
                        *ngIf="link.navbar_items?.length">
                        {{link.header | lang : link.header_ar }}
                            <span class="mx-1"></span>
                            <i class="fa-solid fa-chevron-down"></i>
                        </a>
                        <div 
                        [class.d-none]="selcetedSubMenu!=i"
                        *ngIf="link.navbar_items?.length"
                        class="sub-menu">
                            <a  
                            [routerLink]="item.link"
                            (click)="openNav=false;selcetedSubMenu=-1"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact:true}"
                            class="p-3"
                            *ngFor="let item of link?.navbar_items"
                          >
                         
                          {{item.header |lang : item.header_ar  }}</a>
                        </div>
                    </li>
                    <!-- --- -->














                    <li>
                        <a 
                        class="withlinks"
                        (click)="selcetedSubMenu = selcetedSubMenu == glopalService.navbar.length ? -1 : glopalService.navbar.length"
                        >
                            {{lang|uppercase}}
                            <span class="mx-1"></span>
                            <i class="fa-solid fa-chevron-down"></i>
                        </a>
                        <div 
                        [class.d-none]="selcetedSubMenu!=glopalService.navbar.length"
                        class="sub-menu">
                            <a  
                            (click)="openNav=false;selcetedSubMenu=-1;changeLang('en')"
                            class="p-3">EN</a>
                            <a  
                            (click)="openNav=false;selcetedSubMenu=-1;changeLang('ar')"
                            class="p-3">AR</a>
                        </div>
                    </li>
                </ul>
                <!--  -->
                <a [class.d-none]="!openNav" class="signup d-lg-inline-block"
                (click)="openNav=false;selcetedSubMenu=-1"
                routerLink="/auth/signup">Sign Up</a>
            </div>
            
            <button 
            (click)="openNav=!openNav"
            class="bars d-lg-none">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
    </div>
    <div class="cover d-none d-lg-block"
    (click)="selcetedSubMenu=-1"
    *ngIf="selcetedSubMenu!=-1"></div>
</nav>
