<ng-container *ngIf="serviceDetails">
    <app-section-header [title]="serviceDetails?.header | lang : serviceDetails?.header_ar" />
    <section class="container py-5 details">
        <div class="row">
            <div class="col-lg-8 mb-4">
                <div>
                    <div
                    innerHTML="{{serviceDetails?.content | lang : serviceDetails?.content_ar}}"
                    ></div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div>
                    <div class="text-center">
                        <img [src]="serviceDetails?.image?.image" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
</ng-container>