<section 
*ngIf="data"
class="section-bg">
    <div class="container py-5 ">
        <h2 
        *ngIf="data?.header"
        class="text-center mb-5 main-heading">{{data.header | lang : data.header_ar}}</h2>
        <div 
        *ngIf="data?.sections?.length"
        class="row">
            <div
            *ngFor="let item of data.sections let i = index"
            class="col-md-6 text-center mb-4 mb-md-0">
                <div class="p-4 d-flex flex-column justify-content-between h-100">           
                    <div>
                        <h3 class="sub-heading">{{item?.header | lang : item?.header_ar}}</h3>
                        <p 
                        innerHTML="{{(item.content | lang : item.content_ar)|slice:0:200}}"
                        class="blue-text">
                
                        </p>
                    </div>
                    <div *ngIf="item?.button">
                        <a [routerLink]="item?.button?.link" class="main-btn main-btn-small">
                            {{item?.button?.text | lang : item?.button?.text_ar}}</a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>