<section class="container py-5">

    <h2 
    *ngIf="data?.header"
    class="main-heading mb-4 text-center">{{data.header | lang : data.header_ar}}</h2>
    <owl-carousel-o 
    *ngIf="data?.sections?.length"
    [options]="customOptions">
        <ng-template *ngFor="let item of data.sections  | filterImages;let i = index" carouselSlide>
            <div 
            class="slideritem shadowcstm my-2 d-flex flex-column justify-content-between" #owlItem>
                <div>
                    <div>
                        <img 
                        (load)="imageLoadingDone(i)"
                        [src]="item?.image?.image" alt="Resources" class="img-fluid">
                    </div>
                    <div class="p-3">
                        <h3 class="sub-heading sub-heading-small">
                            {{item.header | lang : item.header_ar}}</h3>
                        <p class="main-text2 mb-0">    
                              {{(item.content | lang : item.content_ar)|slice:0:200}} 
                              ...
                        </p>
                    </div>
                </div>
                <div class="p-3">
                    <div class="d-flex align-items-center justify-content-between">
                        <span class="date">
                            <!-- May 20th 2020 -->
                        </span>
                        <a 
                        *ngIf="!services"
                        class="maincolor date bold" 
                        [routerLink]="'/blog-details/'+item?.id">
                        <!-- {{item?.button?.text | lang : item?.button?.text_ar}}  -->
                            {{'readmore'|translate}}
                        </a>
                        <a 
                        *ngIf="services"
                        class="maincolor date bold" 
                        [queryParams]="{id:item?.id}"
                        routerLink="/services">
                        <!-- {{item?.button?.text | lang : item?.button?.text_ar}}  -->
                            {{'readmore'|translate}}
                        </a>
                    </div>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
</section>