<div 
*ngIf="fieldType=='input'"
class="form-group mb-4">
    <label class="mb-1">{{label|translate}}</label>
    <input 
    [formControl]="frmControl"
    [type]="type" [placeholder]="placeholder|translate" class="form-control label">
</div>
<div 
*ngIf="fieldType=='textarea'"
class="form-group mb-4">
    <label class="mb-1">{{label|translate}}</label>
    <textarea 
    [formControl]="frmControl"
    [placeholder]="placeholder|translate" class="form-control label"></textarea>
</div>
<p 
*ngIf="frmControl?.touched&&(frmControl?.errors?.email!=null||frmControl?.errors?.pattern!=null)"
class="my-2 text-danger">
   {{'validemail'|translate}}
</p>
<!-- <p 
*ngIf="frmControl?.touched&&frmControl?.errors?.pattern!=null"
class="my-2 text-danger">
   {{'validemail'|translate}}
</p> -->
<p 
*ngIf="frmControl?.touched&&frmControl?.errors?.required!=null"
class="my-2 text-danger">
   {{'required'|translate}}
</p>