<section 
*ngIf="data?.length"
class="taps pb-5">
    <!-- <div 
    *ngIf="data?.length"
    class="tapsContainer mb-4">
        <div class="container">
            <ul class="py-3">
                <li 
                (click)="selectedItem=item;
                selectedSubItem = item?.navbar_items?.length ? item.navbar_items[0] : undefined"
                [class.active]="selectedItem?.id==item.id"
                    *ngFor="let item of data"
                >{{item.header | lang : item.header_ar}}</li>
            </ul>
        </div>
    </div> -->
    <div 
    *ngFor="let item of data"
    class="content container">
        <h2 class="main-heading mb-4">{{item.header | lang : item.header_ar}}</h2>
        <!-- <ul 
        *ngIf="item?.navbar_items?.length"
        class="second-nav mb-5">
            <li 
            *ngFor="let child of item?.navbar_items"
           >{{item.header | lang : item.header_ar}}
         [class.active]="selectedSubItem?.id==item.id"
        </li>
        </ul> -->

        <ng-container  *ngIf="item?.navbar_items">
            <owl-carousel-o [options]="customOptions">
                <ng-template
                *ngFor="let link of item?.navbar_items"
                carouselSlide>
                <div 
            
                class="row align-items-start mb-4">
             
                    <div 
                   
                    [ngClass]="{'col-md-6': link.image,'col-md-12': !link.image}"
                    class="mb-4 mb-md-0">
                        <div>
                            <h3>{{link.header | lang : link.header_ar}}</h3>
                            <p class="main-text">
                              {{link.content | lang : link.content_ar}}     
                            </p>
                        </div>
                    </div>
                    <div 
                    *ngIf="link?.image?.image"
                    class="col-md-6 mb-4 mb-md-0">
                        <div class="d-flex justify-content-end">
                            <img style="width: auto !important;" [src]="link.image.image" alt="taps" class="img-fluid">
                        </div>
                    </div>
                </div>
            </ng-template>   
        </owl-carousel-o>
       
        </ng-container>

    </div>
</section>