<section 
*ngIf="data?.length"
class="taps pb-5">
    <div 
    *ngIf="data?.length"
    class="tapsContainer mb-4">
        <div class="container">
            <ul class="py-3">
                <li 
                (click)="selectedItem=item;
                selectedSubItem = item?.navbar_items?.length ? item.navbar_items[0] : undefined"
                [class.active]="selectedItem?.id==item.id"
                    *ngFor="let item of data"
                >{{item.header | lang : item.header_ar}}</li>
            </ul>
        </div>
    </div>
    <div 
    *ngIf="selectedItem"
    class="content container">
        <h2 class="main-heading mb-4">{{selectedItem.header | lang : selectedItem.header_ar}}</h2>
        <ul 
        *ngIf="selectedItem?.navbar_items?.length"
        class="second-nav mb-5">
            <li 
            (click)="selectedSubItem=item"
            *ngFor="let item of selectedItem?.navbar_items"
            [class.active]="selectedSubItem?.id==item.id">{{item.header | lang : item.header_ar}}</li>
        </ul>
        <div 
        *ngIf="selectedSubItem"
        class="row align-items-center">
            <div 
            [ngClass]="{'col-md-6': selectedSubItem.image,'col-md-12': !selectedSubItem.image}"
            class="mb-4 mb-md-0">
                <div>
                    <p class="main-text">
                      {{selectedSubItem.content | lang : selectedSubItem.content_ar}}     
                    </p>
                </div>
            </div>
            <div 
            *ngIf="selectedSubItem?.image?.image"
            class="col-md-6 mb-4 mb-md-0">
                <div class="text-center">
                    <img [src]="selectedSubItem.image.image" alt="taps" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>