<app-section-header title="Why Us ?" />
<section class="why-us container py-5">
    <p class="main-text">
        Choose us as your partner in linguistic annotation, document processing, and NLP tools, and unlock a world of
        linguistic precision, streamlined document workflows, and transformative language insights. With our expertise,
        your data becomes a powerful asset, ready to propel your projects to new heights.
    </p>
    <p class="main-text">
        At our core, we stand as a beacon of excellence in linguistic annotation, document processing, and the
        development of cutting-edge NLP tools. Here's why choosing us is your gateway to unparalleled linguistic
        insights and powerful document analysis:
        Expertise in Linguistic Annotation:
    </p>
    <p>
        Our team comprises seasoned linguists and language experts, ensuring a nuanced and accurate linguistic
        annotation process.
        Whether it's part-of-speech tagging, syntactic parsing, semantic annotation, NE or Sentiment analysis we bring a
        wealth of linguistic knowledge to every project.
    </p>
    <h2 class="main-heading text-center my-5">Our Team</h2>
    <p class="main-text">
        Choose us as your partner in linguistic annotation, document processing, and NLP tools, and unlock a world of
        linguistic precision, streamlined document workflows, and transformative language insights. With our expertise,
        your data becomes a powerful asset, ready to propel your projects to new heights.
    </p>
    <p class="main-text">
        At our core, we stand as a beacon of excellence in linguistic annotation, document processing, and the
        development of cutting-edge NLP tools. Here's why choosing us is your gateway to unparalleled linguistic
        insights and powerful document analysis:
        Expertise in Linguistic Annotation:
    </p>
    <p>
        Our team comprises seasoned linguists and language experts, ensuring a nuanced and accurate linguistic
        annotation process.
        Whether it's part-of-speech tagging, syntactic parsing, semantic annotation, NE or Sentiment analysis we bring a
        wealth of linguistic knowledge to every project.
    </p>
</section>
<app-taps [lowerContent]="false"/>