:root {
  --black:#252830;
  --black2:#65676F;
  --main:#DCAF3C;
  --white:white;
  --section-bg:  #F8F9FF;
  --text: #8794BA;
  --black2:#65676F;
  --date:#718096;
  --footer-upper: #1D2939;
  --footer-text: #E4E7EC;
  --footer-lower:#1290D0;
  --footer-lower-hover :#49a7d7;
  --gray: #6C6C72;
  --border:#F2F2FC;
  --link:#344054;
  --placeholder:#889099;
}
