::ng-deep {
    .owl-dot {
        span {
            width: 1rem !important;
            height: 1rem !important;
            border: 1px solid var(--main) !important;
            background-color: var(--white) !important;
        }
    }
    .owl-dot.active {
        span{
            border: 5px solid var(--main) !important;
        }
    }
    .owl-itme {height: 100%;}
    .sliderContent {
        p{
            font-size: 1.2rem;
            strong {
                font-size: 2rem;
            }
        }
        

    }
    .sliderImgs {
        img {
            height: 25rem;
            object-fit: contain;
        }
    }
}