<section 
*ngIf="pageData"
class="blog-details">
    <div class="header">
        <img src="assets/images/header.webp" alt="blog details">
        <div class="media">
            <app-social-meedia />
        </div>
    </div>
    <div class="container pt-5">
        <h2 *ngIf="pageData?.header" class="main-heading">{{pageData.header | lang : pageData.header_ar}}</h2>
        <p  *ngIf="pageData?.content" class="main-text">
            {{pageData.content | lang : pageData.content_ar}}
        </p>
        <p  *ngIf="pageData?.content_2"  class="main-text">
            {{pageData.content_2 | lang : pageData.content_2_ar}}
        </p>

    </div>
    <app-slider-grid [data]="moreLikeThis"  />
</section>