<section
*ngIf="images"
class="container home-images pt-5">
    <article 
    *ngIf="images?.header||images?.header_ar"
    class="text-center mb-5">
        <h2 class="mb-4 main-heading">{{images.header | lang : images.header_ar}}</h2>
        <p 
        innerHTML="{{images.content | lang : images.content_ar}}"
        class="blue-text"></p>
    </article>
    <div 
    *ngIf=" images?.sections?.length"
    class="row">
        <div 
        *ngFor="let item of images.sections"
        class="col-6 col-md-3 mb-4  text-center">
                <div class="logosimgs">
                    <img 
                    [class.mb-4]="item?.header"
                    [src]="item?.image?.image" alt="DataLex4ai" class="img-fluid ">
                    <h3 class="sub-heading sub-heading-small mb-0">{{(item?.header | lang : item?.header_ar)}}</h3>
                </div>

        </div>
    </div>
</section>