<section class="aboutus py-5 section-bg">
    <div class="container">
        <div *ngIf="pageData" class="row">
            <div class="col-md-6 mb-4 mb-md-0">
                <div>
                    <h2 class="main-heading">{{pageData.header | lang : pageData.header_ar}}</h2>
                    <p class="main-text">
                        {{pageData.content | lang : pageData.content_ar}}
                    </p>
                    <p class="main-text">
                        {{pageData.content_2 | lang : pageData.content_2_ar}}
                    </p>
                </div>
                <ng-container *ngIf="sections?.length">
                    <section *ngFor="let item of sections" class="why-us">
                        <h2 class="main-heading small" *ngIf="item.header">{{item.header | lang : item.header_ar}}</h2>
                        <p class="main-text">
                            {{item.content | lang : item.content_ar}}
                        </p>
                        <p class="main-text">
                            {{item.content_2 | lang : item.content_2_ar}}
                        </p>
                    </section>

                </ng-container>
                <app-taps *ngIf="taps?.length" [data]="taps" />
            </div>
            <div class="col-md-6 mb-4 mb-md-0">
                <div class="text-center">
                    <img *ngIf="pageData.image.image" [src]="pageData.image.image" alt="about us" class="img-fluid">
                </div>
            </div>

        </div>
    </div>
</section>