@import url('assets/styles/colors.scss');
@import url('assets/styles/btns.scss');
@import url('assets/styles/typography.scss');
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import 'ngx-toastr/toastr';
html {
    font-size: 16px;
    @media only screen and (max-width: 768px) {
        font-size: 13px;
    }
}
// ul {
//     list-style: none !important;
//     padding: 0 !important;
//     margin:  0 !important;
// }
* {
    text-decoration:  none !important;
    outline: none;
}
body{
    font-family: 'Roboto', sans-serif;
}
.section-bg {
        background-color: var(--section-bg);
}
.rt {
    text-align: right;
    direction: rtl;
    
    font-family: "Noto Sans Arabic", sans-serif !important;
}
// end glopal 
.why-us {
  
    h2{
        margin: .1rem 0;
    }
}
.whileLoading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11111111111111111;
    .loader {
        width: 48px;
        height: 48px;
        border: 5px solid #FFF;
        border-bottom-color:var(--main);
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
        }
    
        @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
        } 
}
button:disabled {
    background-color: var(--footer-lower-hover);
}