@import url('assets/styles/colors.scss');
@import url('assets/styles/btns.scss');
@import url('assets/styles/typography.scss');
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
html {
    font-size: 16px;
    @media only screen and (max-width: 768px) {
        font-size: 13px;
    }
}
ul {
    list-style: none !important;
    padding: 0 !important;
    margin:  0 !important;
}
* {
    text-decoration:  none !important;
    outline: none;
}
body{
    font-family: 'Roboto', sans-serif;
}
.section-bg {
        background-color: var(--section-bg);
}
.rt {
    text-align: right;
    direction: rtl;
    
    font-family: "Noto Sans Arabic", sans-serif !important;
}
// end glopal 
