
<div class="py-4" style="background-color: #f8f8f8;">
    <div class="container">
        <div class=" d-flex flex-wrap justify-content-between">
            <p class="m-0">
                <strong>
                    {{title}}
                </strong>
            </p>
            <p class="mb-0">
                <a routerLink="/" class="text-dark">
                    <i  class="fa-solid fa-house"></i>
                </a>
                <span class="mx-2"><i class="fa-solid fa-chevron-right"></i></span>
                <strong>
                    {{title}}
                </strong>
            </p>
        </div>
    </div>
</div>